@{
    ViewData["Title"] = "Catalogue";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MbmStore.Models;

<h1>Catalogue</h1>
<section>
    <div id="flex">
        <div id="container">
            <h3>Movies</h3>
            @foreach (Movie movie in ViewBag.Movies)
            {
                <br />
                <img src="@movie.ImageURL" alt="Movie" />
                <br />
                <strong>Title:</strong>
                @movie.Title
                <br />
                <strong>Director:</strong>
                @movie.Director
                <br />
                <strong>Price:</strong>
                @movie.Price
            }
        </div>
        <div id="container">
            <h3>Books</h3>
            @foreach (Book book in ViewBag.Books)
            {
                <br />
                <img src="@book.ImageURL" alt="Book" />
                <br />
                <strong>Title:</strong>
                @book.Title
                <br />
                <strong>Author:</strong>
                @book.Author
                <br />
                <strong>Published:</strong>
                @book.Published
                <br />
                <strong>Publisher:</strong>
                @book.Publisher
                <br />
                <strong>ISBN:</strong>
                @book.ISBN
                <br />
                <strong>Price:</strong>
                @book.Price
                <br />
            }
        </div>

        <div id="container">
            <h3>Music</h3>
            @foreach (var cd in ViewBag.CDS)
            {
                <br />
                <img src="@cd.ImageURL" alt="CD" />
                <br />
                <strong>Title</strong>
                @cd.Title
                <br />
                <strong>Artist:</strong>
                @cd.Artist
                <br />
                <strong>Price:</strong>
                @cd.Price
                <br />
                <strong> Tracks: </strong>
                <ol>
                    @foreach (Track track in cd.Tracks)
                    {
                        <li>
                            @track.Title
                            (@track.Composer)
                            @track.Length.Minutes:@track.Length.Seconds
                        </li>
                    }
                </ol>
                <strong>Total playing time</strong>
                @cd.GetPlayingTime()
                <br />
            }
        </div>
    </div>
</section>