@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MbmStore.Models;
@using MbmStore.Infrastructure;
<!--Strongly typed View-->
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Catalogue";
}

<section>
    <div id="flex">
        <div id="container">
            <h3>Movies</h3>
            @foreach (Movie movie in Model.OfType<Movie>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMovie", movie)

            }
        </div>
        <div id="container">
            <h3>Books</h3>
            @foreach (Book book in Model.OfType<Book>().ToList())
            {
                // Kalder Partial View
                @await Html.PartialAsync("_ProductSummaryBook", book)
            }
        </div>

        <div id="container">
            <h3>Music</h3>
            @foreach (var cd in Model.OfType<MusicCD>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMusicCD", cd)
                /*
                <br />
                <img src="@cd.ImageURL" alt="CD" />
                <br />
                <strong>Title</strong>
                @cd.Title
                <br />
                <strong>Artist:</strong>
                @cd.Artist
                <br />
                <strong>Price:</strong>
                @cd.Price
                <br />
                <strong> Tracks: </strong>
                <ol>
                    @foreach (Track track in cd.Tracks)
                    {
                        <li>
                            @track.Title
                            (@track.Composer)
                            @track.Length.Minutes:@track.Length.Seconds
                        </li>
                    }
                </ol>
                <strong>Total playing time</strong>
                @cd.GetPlayingTime()
                <br />
                <div>
                    <form id="@cd.ProductID" asp-action="AddToCart" asp-controller="Cart"
                          method="post">
                        <input type="hidden" name="ProductID" value="@cd.ProductID" />
                        <input type="hidden" name="returnUrl"
                               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <span class="card-text p-1">
                            <button type="submit"
                                    class="btn btn-success btn-sm pull-right" style="float:right">
                                Add To Cart
                            </button>
                        </span>
                    </form>
                </div>*/

            }
        </div>
    </div>
</section>