
@{
    ViewData["Title"] = "Customer";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
<h2>Customer</h2>

<ul>
    <li>
        @ViewBag.customer1.Firstnavn @ViewBag.customer1.Lastnavn is @ViewBag.customer1.Age years @ViewBag.customer1.Address
        @ViewBag.customer1.Zip @ViewBag.customer1.City @string.Join(" , ", ViewBag.customer1.PhoneNumbers)
    </li>
    <li>
        @ViewBag.customer2.Firstnavn @ViewBag.customer2.Lastnavn is @ViewBag.customer2.Age years @ViewBag.customer2.Address
        @ViewBag.customer2.Zip @ViewBag.customer2.City @string.Join(" , ", ViewBag.customer2.PhoneNumbers)
    </li>
    <li>
        @ViewBag.customer3.Firstnavn @ViewBag.customer3.Lastnavn is @ViewBag.customer3.Age years @ViewBag.customer3.Address
        @ViewBag.customer3.Zip @ViewBag.customer3.City @string.Join(" , ", ViewBag.customer3.PhoneNumbers)
    </li>
</ul>
